// Styling

/* Be the first to comment. */
position: absolute;
left: 42.07%;
right: 37.77%;
top: 96.94%;
bottom: -0.27%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #707070;
opacity: 0.86;

/* Begin the conversation... */
position: absolute;
left: 9.1%;
right: 71.34%;
top: 82.94%;
bottom: 14.27%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #707070;

/* Rectangle 234 */
position: absolute;
left: 6.94%;
right: 0%;
top: 81.06%;
bottom: 11.55%;

opacity: 0.49;
